/** CSS **/
.mylistview{
    -fx-border-color:rgb(244, 244, 244);
    -fx-padding:10 0 0 10;
    -fx-font: 12px "Courier New";
}

/* The main scrollbar CSS class of ListView */
.mylistview  .scroll-bar:vertical{
	
}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-insets:2, 0, 0;
    -fx-background-radius:2em;
}

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */
.mylistview .scroll-bar .track:hover,
.mylistview .scroll-bar .track:pressed{
     -fx-background-color:transparent;
     -fx-background-radius:2em;
     
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.mylistview .scroll-bar .thumb:hover,
.mylistview .scroll-bar .thumb:pressed{
    -fx-background-color:derive(gray,50%);    
}

/* The main scrollbar **track** CSS class  */
.mylistview .scroll-bar:vertical .track{
    -fx-background-color:rgb(244, 244, 244);
    -fx-border-color:transparent;
    -fx-background-radius:0em;
    -fx-border-radius:2em;    
}

/* The increment and decrement button CSS class of scrollbar */
.mylistview .scroll-bar:vertical .increment-button ,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color:rgb(244, 244, 244);
    -fx-background-radius:0em;
    -fx-padding:0 10 0 0;
}

.mylistview  .scroll-bar .increment-arrow,
.mylistview  .scroll-bar .decrement-arrow {
    -fx-shape:" ";
    -fx-padding:0;
}


